.login-card-section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.login-card{
    width: 400px;
    padding-left: 60px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;

}
