.user-profile-card{
    margin-top: 100px;
    margin-left: 50px;
}

.user-post-card{
    margin-top: 10px;
    margin-right: 50px;
    cursor: pointer;
}

.user-post-card-section{
    margin-top: 100px;
}